In [37]:
import pandas as pd
import numpy as np

# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [38]:
arr=pd.Series([11,22,33,44,55])
print(f"One-dimensional array-like object containing an array of data: \n{arr}")

One-dimensional array-like object containing an array of data:
0    11
1    22
2    33
3    44
4    55
dtype: int64

# 2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [39]:
arr=pd.Series([11,22,33,44,55])
arr=pd.array(arr)
print(f"Type: {type(arr)}")

Type: <class 'pandas.core.arrays.numpy_.NumpyExtensionArray'>

# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [40]:
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,9])
print(f"Addition: \n{s1+s1}")
print(f"Substraction: \n{s1-s1}")
print(f"Multiplication: \n{s1*s1}")
print(f"Division: \n{s1/s1}")

Addition:
0     4
1     8
2    12
3    16
4    20
dtype: int64
Substraction:
0    0
1    0
2    0
3    0
4    0
dtype: int64
Multiplication:
0      4
1     16
2     36
3     64
4    100
dtype: int64
Division:
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

# 4. Write a Pandas program to convert a dictionary to a Pandas series.

# 5. Write a Pandas program to convert a NumPy array to a Pandas series.

In [41]:
arr=np.array([11,22,33,44,55])
s1=pd.Series(arr)
print(f"Numpy array to a Pandas Series: \n{s1}")

Numpy array to a Pandas Series:
0    11
1    22
2    33
3    44
4    55
dtype: int64

# 6. Write a Pandas program to change the data type of given a column or a Series.

In [42]:
ser1=pd.Series([11,22,"Virat",44,"Mamta"])
print(f"Original DataType: \n{s1}")
ser2 = pd.to_numeric(ser1,errors='coerce')
print(f"Changed DataType : \n{ser2}")

Original DataType:
0    11
1    22
2    33
3    44
4    55
dtype: int64
Changed DataType :
0    11.0
1    22.0
2     NaN
3    44.0
4     NaN
dtype: float64

# 7. Write a Pandas program to convert a given Series to an array.

In [43]:
ser1=pd.Series([11,22,33,44,55])
print(f"Series: \n{ser1}")
arr=pd.array(ser1)
print(f"Series To an Array: \n{arr}")

Series:
0    11
1    22
2    33
3    44
4    55
dtype: int64
Series To an Array:
<NumpyExtensionArray>
[11, 22, 33, 44, 55]
Length: 5, dtype: int64

# 8. Write a Pandas program to create a dataframe from a dictionary and display it.

In [49]:
def function1():
    p1=({"name":"Mamta","age":22,"id":8})
    p2=({"name":"Virat","age":34,"id":18})

    #s1=pd.Series(p1)
    #s2=pd.Series(p2)
    
    df=pd.DataFrame([p1,p2])
    
    print(f"Dictionary1: \n{p1}")
    print(f"Dictionary2: \n{p2}")
    print(f"DataFrame: \n{df}")

In [50]:
function1()

Dictionary1:
{'name': 'Mamta', 'age': 22, 'id': 8}
Dictionary2:
{'name': 'Virat', 'age': 34, 'id': 18}
DataFrame:
    name  age  id
0  Mamta   22   8
1  Virat   34  18

9. i) Create a list of empids and names (10 employees).
   ii) Convert list into Series.
   iii) Print type of Series.
   iv) Convert Series into DataFrame.
   v) a) Display all records.
      b) Display first five records.
      c) Display last five records.
      d) Display first two and last two records.Impo
      e) Display name of 5th employee.
      f) Display record of 4th employee.
   vi) Save the record in csv file (MyRecord.csv)